---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "FrontEnd Developer",
    company: "Guane enterprise",
    description: `Especializado en Vue.js y React.js, desarrollo y mantengo interfaces de usuario, 
    colaborando en mejoras UX y aplicando buenas prácticas de diseño. 
    He integrado APIs y creado un panel en tiempo real con WebSocket. Actualmente, 
    lidero el frontend de una app financiera en Flutter, 
    mejorando continuamente su rendimiento y gestionando pruebas internas con Firebase.`,
  },
  {
    date: "Abril 2021 - Octubre 2021",
    title: "Software Developer",
    company: "Naowee S.A.S",
    description: `Trabajé en el desarrollo y soporte de una plataforma de citas médicas utilizando Laravel, 
    donde creé endpoints, gestioné bases de datos y desarrollé interfaces de usuario. 
    En otro proyecto, diseñé y desarrollé una plataforma de viajes tipo Uber para España, 
    encargándome de la arquitectura completa, incluyendo frontend (Vue.js), backend (Laravel), 
    base de datos (MySQL), y chat interactivo (Firestore).`,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
